@import "tailwindcss";

@theme {
  --color-background: #0B0B0F;
  --color-foreground: #E2E8F0;
  --color-primary: #60a5fa;
  --color-secondary: #c084fc;
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans), sans-serif;
  }
}
